APP_NAME=pdf-service
APP_ENV=development
LOG_LEVEL=INFO
PROVIDER=groq
OPENAI_API_KEY=PON-AQUI-TU-API-KEY-SEGURA-PARA-OPENAI-PDF-XXXX-XX
OPENAI_MODEL=gpt-4o-mini
GROQ_API_KEY=PON-AQUI-TU-API-KEY-SEGURA-PARA-GROQ-PDF-XXXX-XX
GROQ_MODEL=llama-3.1-8b-instant
INTERNAL_API_KEY=PON-AQUI-TU-API-KEY-SEGURA-PARA-INTERNAL-PDF-XXXX-XX
INTERNAL_API_KEY_HEADER=X-Service-API-Key
